body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;

}
h1{
  font-size:50px;
}
span{
  color: coral;
}
img{
  height: 300px;
  width:200px;
}
section{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left:10%;
}
.half-height img{
  width:150%;
}
.link-button{
  text-decoration: none;
  background-color: coral;
  background-image: linear-gradient(orange,tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight:400px;
}
.top-banner{
  background-image: url(images/top-banner1.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
}